#whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #25d366;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#whatsapp-button img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease;
}

#whatsapp-button:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

#whatsapp-button img:hover {
    transform: scale(1.2);
}

main#content {
    max-width: none !important;
}

.estrellas_start svg {
    width: 20px;
    height: 20px;
    fill: #ff0 !important;
}

.oswald-600 {
    font-family: Oswald, serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.oswald-200 {
    font-family: Oswald, serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.card-container {
    position: relative;
    width: 100%;
    max-width: 500px;
    perspective: 1500px;
    border-radius: 10px;
    margin: 0 auto;
}

.card-back,
.card-front {
    top: 0;
    left: 0;
    width: 100%;
    height: auto !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px;
    transition: transform 1.5s ease-out;
    background: #f8f9fa;
    font-family: Arial, sans-serif;
}

.card-back {
    height: -webkit-fill-available;
    padding: 30px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-container.flipped .card-front {
    transform: rotateY(180deg);
}

.card-container.flipped .card-back {
    transform: rotateY(0);
}

#reservationForm {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#reservationForm button,
#reservationForm input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#reservationForm button:focus,
#reservationForm input:focus {
    outline: 0;
    border-color: #007bff;
}

#reservationForm button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

#reservationForm button:hover {
    background-color: #0056b3;
    transition: background-color 0.3s ease;
}

#section-testimonials {
    padding: 50px 0;
    transition: margin-top 0.5s ease-in-out;
}

#section-testimonials h2 {
    font-family: Oswald, sans-serif;
    font-weight: 600;
    color: #333;
}

.testimonials-carousel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.testimonial-card {
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 100%;
    max-width: 300px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    text-align: center;
}

.testimonial-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.testimonial-content {
    padding: 20px;
}

.testimonial-subtitle {
    font-size: 16px;
    color: #ff6c17;
    font-weight: 600;
    margin-bottom: 10px;
}

.testimonial-title {
    font-size: 22px;
    font-weight: 700;
    color: #333;
    margin-bottom: 10px;
}

.testimonial-text {
    font-size: 16px;
    color: #575f61;
    line-height: 1.5;
}

.testimonial-image img {
    max-width: 100%;
    height: auto;
    border-top: 2px solid #e7e7e7;
    border-bottom: 2px solid #e7e7e7;
    padding: 10px;
}

@media (max-width: 768px) {
    .testimonials-carousel {
        flex-direction: column;
        align-items: center;
    }

    .img-fade-edges {
        position: relative;
        display: inline-block;
        width: 100%;
        height: auto;
        mask-image: linear-gradient(white, transparent);
        -webkit-mask-image: linear-gradient(white, transparent);
        mask-composite: intersect;
        -webkit-mask-composite: destination-in;
        background-color: #fff;
    }

    body {
        background-color: #f8f8f8 !important;
    }

    .img-fade-edges:hover {
        mask-image: linear-gradient(white, transparent);
        transform: scale(1.02);
        transition: transform 0.4s;
    }

    .testimonial-card {
        max-width: 80%;
        margin-bottom: 20px;
    }
}

#section-masthead {
    position: relative;
    background-image: url(https://ccfirma.com/wp-content/uploads/2025/01/reserva.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    z-index: 100;
    overflow: hidden;
}

#section-masthead::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    pointer-events: none;
}

#section-masthead::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0) 0,
            rgba(255, 255, 255, 1) 100%);
    z-index: 2;
    pointer-events: none;
}

#section-masthead * {
    position: relative;
    z-index: 3;
}

form label,
form p {
    color: #000;
}

@media (max-width: 575px) {
    .site-main {
        padding-inline-start: 0 !important;
        padding-inline-end: 0 !important;
    }
}