.montserrat {
  font-family: "Montserrat", sans-serif !important;
  font-optical-sizing: auto;
  font-style: normal;
}

.montserrat-500 {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 500 !important;
  font-style: normal;
}

.montserrat-700 {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 700 !important;
  font-style: normal;
  letter-spacing: 1.5px;
}

.fw-semibold {
  font-weight: 600 !important;
}